.dashboard-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Prevent overflow from the image */
}

.border {
    border: 0px solid transparent;
    border-radius: 15px;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill; /* Cover the entire area without distortion */
    z-index: 0; /* Image stays behind the content */
    opacity: 0.15;
    pointer-events: none;
}

.faction-logo {
    width: 100px;
    height: 100px;
}

.faction-image {
    position: inherit;
    top: 0;
    left: 0;
    width: 30%;
    height: 40%;
    object-fit: fill; /* Cover the entire area without distortion */
    z-index: 0; /* Image stays behind the content */
    pointer-events: none;
    contain: content;
}

.faction-container {
    padding: 50px;
    position: relative;
    overflow: hidden;
}